/* Add screen styles below */

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    
}
 p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
 }

 .container {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 800px;
 }

 .flex_container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 80px;
    align-items: center;
    justify-content: center;
 }

 .moon {
    scale: inherit;
    display: flex;
    justify-content: center;
 }

 .earth {
    scale: inherit;
    display: flex;
    justify-content: center;
 }

 .word-container{
    display:flex;
    flex-grow: 4 1;
    gap: 0px 100px;
    margin: 50px 100px 50px 100px;
    padding-bottom: 50px;
 }
