/* Add screen styles below */
a:active {
    border: 25px solid rgb(80, 136, 255);
}

h1 {
    color: white;
}
 p {
    color: white;
 }

 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
 }