/* Add screen styles below */

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .container {
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2000px;
 }

 .flex_container {
    display: flex;
 }

 .moon {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;

 .earth {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
 }

