/* Add screen styles below */

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
 }

 .grid_container {
    display: grid;
    grid-template-columns: 100px 100px 600px 150px;
 }

 .moon {
    width: 150px;
    height: 150px;
 }

 .earth {
    width: 600px;
    height: 600px;
 }

