/* Add screen styles below */

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
 p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
 }

 .container {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2000px;
 }

 .flex_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin-top: 100px;
    align-items: center;
 }

 .moon {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .earth {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .word-container{
    display:flex;
    flex-grow: 3 1;
    gap: 50px 20px;
    margin: 100px 100px 100px 100px;
 }

