/* Add screen styles below */

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    
}
 p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
 }

 .container {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2000px;
 }

 .flex_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
 }

 .moon {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .earth {
    scale: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .word-container{
    display:flex;
    flex-grow: 4 1;
    gap: 100px 100px;
    margin: 100px 100px 0px 100px;
 }

