/* Add screen styles below */

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .container {
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2000px;
 }

 .grid_container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
 }

 .moon {
    scale: inherit;
    display: grid;
    justify-content: center;
    align-content: center;

 .earth {
    scale: inherit;
    display: grid;
    justify-content: center;
    align-content: center;
 }

